<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true"  scanPeriod="3 seconds"  packagingData="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <file>a.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss:SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.lance.test.logback.LogBackTest" level="DEBUG"/>
    <logger name="com.lance.test.logback.LogBackTest2" level="ERROR"/>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>