<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<property name="context_name" value="cf-billcenter" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="utf-8">
			<!-- encoder 可以指定字符集，对于中文输出有意义 -->
			<!-- %.-1level 只显示信息级别的首字母,%-5level 左对齐显示信息级别全称 -->
			<!-- 如需自定义关键字，用 %mdc{键名} 表示,程序中用MDC.put("键名","键值")设置，可动态设置 [%logger:%line]-->
			<Pattern>[%date] [%thread] [%-5level] --%mdc{client} [%X{TRACE_LOG_ID}] %logger %line %msg%n</Pattern>
		</encoder>
	</appender>



	<logger name="com.bestpay.cf.billcenter" level="${LOG_LEVEL_VALUE}" additivity="false">
		<appender-ref ref="stdout" />
	</logger>

	<root level="INFO">
		<appender-ref ref="billcenter" />
		<appender-ref ref="stdout" />
	</root>

</configuration>