<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns="http://www.springframework.org/schema/batch"
            xmlns:bean="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/batch 
http://www.springframework.org/schema/batch/spring-batch-3.0.xsd">

    <bean:import resource="spring-batch.xml"/>

    <!--job-repository 默认 jobRepository restartable 默认true  abstract默认false-->
    <job id="fileBatchJob" job-repository="jobRepository" restartable="true" abstract="false" >
        <description>this is job for file batch persistence</description>

        <!--初始化ftp信息等-->
        <step id="init" next="loadFiles">
            <tasklet ref="dataInitJob"/>
        </step>

        <!--加载文件-->
        <step id="loadFiles" >
            <tasklet >
                <chunk reader="fileReader" writer="fileWriter" processor="fileProcessor" commit-interval="1"/>
            </tasklet>
        </step>

        <!--&lt;!&ndash;文件处理&ndash;&gt;
        <step id="fileProcess" next="finalize">
            <tasklet ref="fileProcessJob"/>
        </step>

        &lt;!&ndash;文件回盘&ndash;&gt;
        <step id="finalize">
            <tasklet ref="dataFinalizeJob"/>
        </step>-->
    </job>



    <bean:bean id="dataInitJob" class="com.lance.batch.DataInitJob"/>
    <bean:bean id="dataLoadJob" class="com.lance.batch.FileLoadJob"/>
    <bean:bean id="fileProcessJob" class="com.lance.batch.FileProcessJob"/>
    <bean:bean id="dataFinalizeJob" class="com.lance.batch.DataFinalizeJob"/>
    <bean:bean id="fileReader" class="com.lance.batch.FileItemReader">
        <bean:property name="lineMapper" ref="lineMapper"/>
        <bean:property name="resource" ref="resource"/>
        <bean:property name="name" value="lance"/>
        <bean:property name="executionContextName" value="lance"/>
    </bean:bean>
    <bean:bean id="fileWriter" class="com.lance.batch.FileItemWriter"/>
    <bean:bean id="fileProcessor" class="com.lance.batch.FileItemProcessor"/>

    <bean:bean id="lineMapper" class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
        <bean:property name="fieldSetMapper" ref="fieldSetMapper"/>
        <bean:property name="lineTokenizer" ref="tokenizer"/>
    </bean:bean>
    <bean:bean id="resource" class="org.springframework.core.io.FileSystemResource">
        <bean:constructor-arg name="path" value="d:/batch/test.txt"/>
    </bean:bean>
    <bean:bean id="tokenizer" class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer"/>
    <bean:bean id="fieldSetMapper" class="org.springframework.batch.item.file.mapping.ArrayFieldSetMapper"/>

</bean:beans>