<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
             xmlns="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans.xsd
		   http://www.springframework.org/schema/security
		   http://www.springframework.org/schema/security/spring-security.xsd">

    <!--accessDecisionManager用来判断一个安全实体是否有对适当的权限-->
    <security:debug/>
    <security:http pattern="/" security="none"></security:http>
    <security:http pattern="/login*" security="none"></security:http>
    <security:http pattern="/login/loginForm" security="none"></security:http>
    <security:http pattern="/index.jsp*" security="none"></security:http>
    <security:http pattern="/home*" security="none"></security:http>

    <security:http auto-config="false"  access-decision-manager-ref="accessDecisionManager" entry-point-ref="sysLoginUrlAuthenticationEntryPoint">
        <security:logout                invalidate-session="true" logout-success-url="/security/" delete-cookies="true" logout-url="/security/logout"/>
        <security:anonymous             enabled="true"/>
        <security:session-management    session-authentication-strategy-ref="compositeSessionAuthenticationStrategy"/>
        <security:access-denied-handler ref="accessDeniedHandler" />
        <security:request-cache         ref="requestCacheHandler"/>
        <!--<security:http-basic/>-->
        <security:custom-filter         ref="sysConcurrentSessionFilter"    position="CONCURRENT_SESSION_FILTER"/>
        <!--用于认证-->
        <security:custom-filter         ref="sysLoginFilter"                   position="FORM_LOGIN_FILTER"/>
        <!--用于授权-->
        <security:custom-filter         ref="filterSecurityInterceptor"         before="FILTER_SECURITY_INTERCEPTOR"/>
        <security:csrf disabled="true" />
         </security:http>


<!--*******************************  accessDecisionManager  begin ***************************************************-->
    <bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <constructor-arg>
            <list>
                <ref bean="roleVoter"/>
                <ref bean="authenticatedVoter"/>
            </list>
        </constructor-arg>
    </bean>
    <bean id="roleVoter" class="org.springframework.security.access.vote.RoleVoter">
        <property name="rolePrefix" value=""/>
    </bean>
    <bean id="authenticatedVoter"           class="org.springframework.security.access.vote.AuthenticatedVoter"/>
<!--*******************************  accessDecisionManager  end *****************************************************-->


<!--*******************************  authenticationEntryPoint  begin ************************************************-->
    <bean id="sysLoginUrlAuthenticationEntryPoint"      class="com.lance.common.security.filter.SysLoginUrlAuthenticationEntryPoint">
        <constructor-arg    name="loginFormUrl"         value="/login"/>
    </bean>
    <!--<bean id="sysLoginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg name="loginFormUrl" value="/login"/>
    </bean>-->
<!--*******************************  authenticationEntryPoint  end **************************************************-->


<!--*******************************  accessDeniedHandler  begin *****************************************************-->
    <bean id="accessDeniedHandler"          class="com.lance.common.security.handler.SysAccessDeniedHandler"/>
<!--*******************************  accessDeniedHandler  end *******************************************************-->


<!--*******************************  requestCache  begin ************************************************************-->
    <bean id="requestCacheHandler"          class="com.lance.common.security.handler.RequestCacheHandler"/>
<!--*******************************  requestCache  end **************************************************************-->


<!--*******************************  requestCache  begin ************************************************************-->
    <bean id="compositeSessionAuthenticationStrategy"       class="org.springframework.security.web.authentication.session.CompositeSessionAuthenticationStrategy">
        <constructor-arg>
            <list>
                <!--<bean class="org.springframework.security.web.authentication.session.ConcurrentSessionControlAuthenticationStrategy">-->
                <bean class="com.lance.common.security.handler.SysConcurrentSessionStrategy">
                    <constructor-arg    ref="sessionRegistry"/>
                    <property           name="maximumSessions"              value="1" />
                    <property           name="exceptionIfMaximumExceeded"   value="false" />
                </bean>
                <bean class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy">
                </bean>
                <bean class="org.springframework.security.web.authentication.session.RegisterSessionAuthenticationStrategy">
                    <constructor-arg ref="sessionRegistry"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>
    <bean id="sessionRegistry"              class="com.lance.common.security.handler.SysSessionRegistryHandler"/>
<!--*******************************  requestCache  end **************************************************************-->


<!--*******************************  filter  begin ******************************************************************-->
    <bean id="sysConcurrentSessionFilter"   class="com.lance.common.security.filter.SysConcurrentSessionFilter"/>
    <bean id="sysLoginFilter"               class="com.lance.common.security.filter.SysLoginFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" />
        <property name="authenticationFailureHandler" ref="authenticationFailureHandler"/>
    </bean>
    <bean id="authenticationSuccessHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
        <property name="defaultTargetUrl" value="/home"/>
    </bean>
    <bean id="authenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <constructor-arg name="defaultFailureUrl" value="/login/loginForm"/>
    </bean>
    <!--<bean id="filterSecurityInterceptor"    class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
        <property name="securityMetadataSource" ref="sysFilterInvocationSecurityMetadataSource"/>
        <property name="rejectPublicInvocations" value="true"/>
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager" ref="accessDecisionManager"/>
    </bean>-->
    <bean id="filterSecurityInterceptor"    class="com.lance.common.security.filter.SysFilterSecurityInterceptor">
        <property name="securityMetadataSource" ref="sysFilterInvocationSecurityMetadataSource"/>
        <property name="rejectPublicInvocations" value="true"/>
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="accessDecisionManager" ref="accessDecisionManager"/>
    </bean>
    <!--*******************************  filter  end ********************************************************************-->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider ref="authenticationProvider">
        </security:authentication-provider>
    </security:authentication-manager>
    <bean id="authenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userDetailsService"/>
        <property name="hideUserNotFoundExceptions" value="false"/>
    </bean>
    <bean id="userDetailsService" class="com.lance.common.security.service.SysUserDetailService">
        <property name="accountService" ref="accountService"/>
    </bean>
    <bean id="accountService" class="com.lance.persistence.service.impl.AccountServiceImpl"/>
    <bean id="sysFilterInvocationSecurityMetadataSource" class="com.lance.common.security.filter.SysFilterInvocationSecurityMetadataSource">
        <property name="resourceService" ref="resourceService"></property>
    </bean>
    <bean id="resourceService" class="com.lance.persistence.service.impl.ResourceServiceImpl"/>
</beans>