<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/batch
       http://www.springframework.org/schema/batch/spring-batch-2.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.lance.test.batch"/>


    <bean id="datasource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="oracle.jdbc.OracleDriver"/>
           <property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
           <property name="user" value="C##web"/>
           <property name="password" value="web"/>
       <!-- <property name="jdbcUrl" value="jdbc:oracle:thin:@116.228.151.161:21521:test"/>
        <property name="user" value="btupayprod"/>
        <property name="password" value="1234"/>-->
        <property name="initialPoolSize" value="1"/>
        <property name="minPoolSize" value="1"/>
        <property name="maxPoolSize" value="10"/>
        <property name="acquireIncrement" value="2"/>
        <property name="numHelperThreads" value="30"/>
        <property name="maxIdleTime" value="0"/>
        <property name="maxStatements" value="150"/>
        <property name="maxStatementsPerConnection" value="0"/>
        <property name="acquireRetryAttempts" value="30"/>
        <property name="acquireRetryDelay" value="1000"/>
        <property name="checkoutTimeout" value="30000"/>
        <property name="idleConnectionTestPeriod" value="300"/>
        <property name="preferredTestQuery" value="select sysdate from dual"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="datasource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!--isolation-level-for-create="SERIALIZABLE"-->
    <batch:job-repository  id="jobRepository"
                    data-source="datasource"
                    transaction-manager="transactionManager"

                    isolation-level-for-create="READ_COMMITTED"
                    table-prefix="BATCH_"
                    max-varchar-length="1000"/>

    <bean id="jobLauncher"
          class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
    </bean>
    <batch:job id="ioSampleJob">
        <batch:step id="step1">
            <batch:tasklet>
                <batch:chunk reader="itemReaderTest" writer="itemWriterTest" commit-interval="2"/>
            </batch:tasklet>
        </batch:step>
    </batch:job>

</beans>