<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lance.persistence.mapper.IconPOMapper" >
  <resultMap id="BaseResultMap" type="com.lance.persistence.model.IconPO" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ICON_NAME" property="iconName" jdbcType="VARCHAR" />
    <result column="ICON_TYPE" property="iconType" jdbcType="CHAR" />
    <result column="ICON_PATH" property="iconPath" jdbcType="VARCHAR" />
    <result column="ICON_CONTENT" property="iconContent" jdbcType="VARCHAR" />
    <result column="ICON_CLS" property="iconCls" jdbcType="VARCHAR" />
    <result column="IS_SYSTEM" property="isSystem" jdbcType="CHAR" />
    <result column="IS_CLOSE" property="isClose" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_UID" property="createUid" jdbcType="VARCHAR" />
    <result column="UPDATE_UID" property="updateUid" jdbcType="VARCHAR" />
    <result column="CHECK_UID" property="checkUid" jdbcType="VARCHAR" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="CHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.lance.persistence.model.IconPO" >
    insert into T_SYS_ICON (ID, ICON_NAME, ICON_TYPE, 
      ICON_PATH, ICON_CONTENT, ICON_CLS, 
      IS_SYSTEM, IS_CLOSE, CREATE_TIME, 
      CHECK_TIME, CREATE_UID, UPDATE_UID, 
      CHECK_UID, CHECK_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{iconName,jdbcType=VARCHAR}, #{iconType,jdbcType=CHAR}, 
      #{iconPath,jdbcType=VARCHAR}, #{iconContent,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, 
      #{isSystem,jdbcType=CHAR}, #{isClose,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=VARCHAR}, #{updateUid,jdbcType=VARCHAR}, 
      #{checkUid,jdbcType=VARCHAR}, #{checkFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lance.persistence.model.IconPO" >
    insert into T_SYS_ICON
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="iconName != null" >
        ICON_NAME,
      </if>
      <if test="iconType != null" >
        ICON_TYPE,
      </if>
      <if test="iconPath != null" >
        ICON_PATH,
      </if>
      <if test="iconContent != null" >
        ICON_CONTENT,
      </if>
      <if test="iconCls != null" >
        ICON_CLS,
      </if>
      <if test="isSystem != null" >
        IS_SYSTEM,
      </if>
      <if test="isClose != null" >
        IS_CLOSE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="checkTime != null" >
        CHECK_TIME,
      </if>
      <if test="createUid != null" >
        CREATE_UID,
      </if>
      <if test="updateUid != null" >
        UPDATE_UID,
      </if>
      <if test="checkUid != null" >
        CHECK_UID,
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="iconName != null" >
        #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="iconType != null" >
        #{iconType,jdbcType=CHAR},
      </if>
      <if test="iconPath != null" >
        #{iconPath,jdbcType=VARCHAR},
      </if>
      <if test="iconContent != null" >
        #{iconContent,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null" >
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null" >
        #{isSystem,jdbcType=CHAR},
      </if>
      <if test="isClose != null" >
        #{isClose,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>