<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lance.persistence.mapper.MenuPOMapper" >
  <resultMap id="BaseResultMap" type="com.lance.persistence.model.MenuPO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="MENU_NAME" property="menuName" jdbcType="VARCHAR" />
    <result column="PARENT_MENU_ID" property="parentMenuId" jdbcType="VARCHAR" />
    <result column="MENU_URL" property="menuUrl" jdbcType="VARCHAR" />
    <result column="ICON_ID" property="iconId" jdbcType="VARCHAR" />
    <result column="MENU_LEVEL" property="menuLevel" jdbcType="CHAR" />
    <result column="IS_SYSTEM" property="isSystem" jdbcType="CHAR" />
    <result column="IS_CLOSE" property="isClose" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_UID" property="createUid" jdbcType="VARCHAR" />
    <result column="UPDATE_UID" property="updateUid" jdbcType="VARCHAR" />
    <result column="CHECK_UID" property="checkUid" jdbcType="VARCHAR" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, MENU_NAME, PARENT_MENU_ID, MENU_URL, ICON_ID, MENU_LEVEL, IS_SYSTEM, IS_CLOSE, 
    CREATE_TIME, CHECK_TIME, CREATE_UID, UPDATE_UID, CHECK_UID, CHECK_FLAG
  </sql>
    <select id="getMenuPO" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from T_SYS_MENU
        where MENU_URL = #{menu,jdbcType=VARCHAR}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYS_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lance.persistence.model.MenuPO" >
    insert into T_SYS_MENU (ID, MENU_NAME, PARENT_MENU_ID, 
      MENU_URL, ICON_ID, MENU_LEVEL, 
      IS_SYSTEM, IS_CLOSE, CREATE_TIME, 
      CHECK_TIME, CREATE_UID, UPDATE_UID, 
      CHECK_UID, CHECK_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{parentMenuId,jdbcType=VARCHAR}, 
      #{menuUrl,jdbcType=VARCHAR}, #{iconId,jdbcType=VARCHAR}, #{menuLevel,jdbcType=CHAR}, 
      #{isSystem,jdbcType=CHAR}, #{isClose,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{checkTime,jdbcType=TIMESTAMP}, #{createUid,jdbcType=VARCHAR}, #{updateUid,jdbcType=VARCHAR}, 
      #{checkUid,jdbcType=VARCHAR}, #{checkFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lance.persistence.model.MenuPO" >
    insert into T_SYS_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="parentMenuId != null" >
        PARENT_MENU_ID,
      </if>
      <if test="menuUrl != null" >
        MENU_URL,
      </if>
      <if test="iconId != null" >
        ICON_ID,
      </if>
      <if test="menuLevel != null" >
        MENU_LEVEL,
      </if>
      <if test="isSystem != null" >
        IS_SYSTEM,
      </if>
      <if test="isClose != null" >
        IS_CLOSE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="checkTime != null" >
        CHECK_TIME,
      </if>
      <if test="createUid != null" >
        CREATE_UID,
      </if>
      <if test="updateUid != null" >
        UPDATE_UID,
      </if>
      <if test="checkUid != null" >
        CHECK_UID,
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null" >
        #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconId != null" >
        #{iconId,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null" >
        #{menuLevel,jdbcType=CHAR},
      </if>
      <if test="isSystem != null" >
        #{isSystem,jdbcType=CHAR},
      </if>
      <if test="isClose != null" >
        #{isClose,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lance.persistence.model.MenuPO" >
    update T_SYS_MENU
    <set >
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="parentMenuId != null" >
        PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null" >
        MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconId != null" >
        ICON_ID = #{iconId,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null" >
        MENU_LEVEL = #{menuLevel,jdbcType=CHAR},
      </if>
      <if test="isSystem != null" >
        IS_SYSTEM = #{isSystem,jdbcType=CHAR},
      </if>
      <if test="isClose != null" >
        IS_CLOSE = #{isClose,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        CREATE_UID = #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        UPDATE_UID = #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        CHECK_UID = #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG = #{checkFlag,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lance.persistence.model.MenuPO" >
    update T_SYS_MENU
    set MENU_NAME = #{menuName,jdbcType=VARCHAR},
      PARENT_MENU_ID = #{parentMenuId,jdbcType=VARCHAR},
      MENU_URL = #{menuUrl,jdbcType=VARCHAR},
      ICON_ID = #{iconId,jdbcType=VARCHAR},
      MENU_LEVEL = #{menuLevel,jdbcType=CHAR},
      IS_SYSTEM = #{isSystem,jdbcType=CHAR},
      IS_CLOSE = #{isClose,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      CREATE_UID = #{createUid,jdbcType=VARCHAR},
      UPDATE_UID = #{updateUid,jdbcType=VARCHAR},
      CHECK_UID = #{checkUid,jdbcType=VARCHAR},
      CHECK_FLAG = #{checkFlag,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>