<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lance.persistence.mapper.RolePOMapper" >
  <resultMap id="BaseResultMap" type="com.lance.persistence.model.RolePO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_MENU" property="roleMenu" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="IS_SYSTEM" property="isSystem" jdbcType="CHAR" />
    <result column="IS_CLOSE" property="isClose" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_UID" property="createUid" jdbcType="VARCHAR" />
    <result column="UPDATE_UID" property="updateUid" jdbcType="VARCHAR" />
    <result column="CHECK_UID" property="checkUid" jdbcType="VARCHAR" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_MENU, ROLE_NAME, DEPT_ID, DEPT_NAME, IS_SYSTEM, IS_CLOSE, CREATE_TIME, CHECK_TIME, 
    CREATE_UID, UPDATE_UID, CHECK_UID, CHECK_FLAG
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT
      <include refid="Base_Column_List" />
    FROM  T_SYS_ROLE
    WHERE ID = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYS_ROLE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lance.persistence.model.RolePO" >
    insert into T_SYS_ROLE (ID, ROLE_MENU, ROLE_NAME, 
      DEPT_ID, DEPT_NAME, IS_SYSTEM, 
      IS_CLOSE, CREATE_TIME, CHECK_TIME, 
      CREATE_UID, UPDATE_UID, CHECK_UID, 
      CHECK_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{roleMenu,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{isSystem,jdbcType=CHAR}, 
      #{isClose,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{createUid,jdbcType=VARCHAR}, #{updateUid,jdbcType=VARCHAR}, #{checkUid,jdbcType=VARCHAR}, 
      #{checkFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lance.persistence.model.RolePO" >
    insert into T_SYS_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleMenu != null" >
        ROLE_MENU,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="isSystem != null" >
        IS_SYSTEM,
      </if>
      <if test="isClose != null" >
        IS_CLOSE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="checkTime != null" >
        CHECK_TIME,
      </if>
      <if test="createUid != null" >
        CREATE_UID,
      </if>
      <if test="updateUid != null" >
        UPDATE_UID,
      </if>
      <if test="checkUid != null" >
        CHECK_UID,
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleMenu != null" >
        #{roleMenu,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null" >
        #{isSystem,jdbcType=CHAR},
      </if>
      <if test="isClose != null" >
        #{isClose,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lance.persistence.model.RolePO" >
    update T_SYS_ROLE
    <set >
      <if test="roleMenu != null" >
        ROLE_MENU = #{roleMenu,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null" >
        IS_SYSTEM = #{isSystem,jdbcType=CHAR},
      </if>
      <if test="isClose != null" >
        IS_CLOSE = #{isClose,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        CREATE_UID = #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        UPDATE_UID = #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        CHECK_UID = #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG = #{checkFlag,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lance.persistence.model.RolePO" >
    update T_SYS_ROLE
    set ROLE_MENU = #{roleMenu,jdbcType=VARCHAR},
      ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      DEPT_ID = #{deptId,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      IS_SYSTEM = #{isSystem,jdbcType=CHAR},
      IS_CLOSE = #{isClose,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      CREATE_UID = #{createUid,jdbcType=VARCHAR},
      UPDATE_UID = #{updateUid,jdbcType=VARCHAR},
      CHECK_UID = #{checkUid,jdbcType=VARCHAR},
      CHECK_FLAG = #{checkFlag,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>