<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lance.persistence.mapper.RoleMenuPOMapper" >
  <resultMap id="BaseResultMap" type="com.lance.persistence.model.RoleMenuPO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="MENU_ID" property="menuId" jdbcType="VARCHAR" />
    <result column="ACTIONS" property="actions" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_ID, MENU_ID, ACTIONS
  </sql>

    <select id="getRoleMenuByResourceId" parameterType="string" resultType="com.lance.persistence.model.RoleMenuPO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM T_SYS_ROLE_MENU
        WHERE MENU_ID = #{resourceId,jdbcType=VARCHAR}
    </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_ROLE_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYS_ROLE_MENU
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lance.persistence.model.RoleMenuPO" >
    insert into T_SYS_ROLE_MENU (ID, ROLE_ID, MENU_ID, 
      ACTIONS)
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, 
      #{actions,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lance.persistence.model.RoleMenuPO" >
    insert into T_SYS_ROLE_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="actions != null" >
        ACTIONS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="actions != null" >
        #{actions,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lance.persistence.model.RoleMenuPO" >
    update T_SYS_ROLE_MENU
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="actions != null" >
        ACTIONS = #{actions,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lance.persistence.model.RoleMenuPO" >
    update T_SYS_ROLE_MENU
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      MENU_ID = #{menuId,jdbcType=VARCHAR},
      ACTIONS = #{actions,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>