<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lance.persistence.mapper.UserPOMapper" >
  <resultMap id="BaseResultMap" type="com.lance.persistence.model.UserPO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="IS_SYSTEM" property="isSystem" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CHECK_TIME" property="checkTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_UID" property="createUid" jdbcType="VARCHAR" />
    <result column="UPDATE_UID" property="updateUid" jdbcType="VARCHAR" />
    <result column="CHECK_UID" property="checkUid" jdbcType="VARCHAR" />
    <result column="CHECK_FLAG" property="checkFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USERNAME, PASSWORD, IS_SYSTEM, CREATE_TIME, CHECK_TIME, CREATE_UID, UPDATE_UID, 
    CHECK_UID, CHECK_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_USER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYS_USER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lance.persistence.model.UserPO" >
    insert into T_SYS_USER (ID, USERNAME, PASSWORD, 
      IS_SYSTEM, CREATE_TIME, CHECK_TIME, 
      CREATE_UID, UPDATE_UID, CHECK_UID, 
      CHECK_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{isSystem,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{checkTime,jdbcType=TIMESTAMP}, 
      #{createUid,jdbcType=VARCHAR}, #{updateUid,jdbcType=VARCHAR}, #{checkUid,jdbcType=VARCHAR}, 
      #{checkFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lance.persistence.model.UserPO" >
    insert into T_SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="isSystem != null" >
        IS_SYSTEM,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="checkTime != null" >
        CHECK_TIME,
      </if>
      <if test="createUid != null" >
        CREATE_UID,
      </if>
      <if test="updateUid != null" >
        UPDATE_UID,
      </if>
      <if test="checkUid != null" >
        CHECK_UID,
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null" >
        #{isSystem,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        #{checkFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lance.persistence.model.UserPO" >
    update T_SYS_USER
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="isSystem != null" >
        IS_SYSTEM = #{isSystem,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkTime != null" >
        CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUid != null" >
        CREATE_UID = #{createUid,jdbcType=VARCHAR},
      </if>
      <if test="updateUid != null" >
        UPDATE_UID = #{updateUid,jdbcType=VARCHAR},
      </if>
      <if test="checkUid != null" >
        CHECK_UID = #{checkUid,jdbcType=VARCHAR},
      </if>
      <if test="checkFlag != null" >
        CHECK_FLAG = #{checkFlag,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lance.persistence.model.UserPO" >
    update T_SYS_USER
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      IS_SYSTEM = #{isSystem,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CHECK_TIME = #{checkTime,jdbcType=TIMESTAMP},
      CREATE_UID = #{createUid,jdbcType=VARCHAR},
      UPDATE_UID = #{updateUid,jdbcType=VARCHAR},
      CHECK_UID = #{checkUid,jdbcType=VARCHAR},
      CHECK_FLAG = #{checkFlag,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>